/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* -------- END -------- */

/*========== fonts | colors | typography ==========*/

:root {
  --body-font: 'Inter', sans-serif;

  --color-dark-1: #000;
  --color-dark-2: #232323;
  --color-gray-1: #d7dde1;
  --color-gray-2: #4b4b4b;
  --color-gray-3: #777;
  --color-gray-4: #f6f6f6;
  --color-blue: #1a98d3;
  --color-blue-2: #0078b0;
  --color-blue-gradient: linear-gradient(
    94deg,
    #3ba6d8 22.25%,
    #77dff9 109.82%
  );
  --color-white: #ffffff;

  --fs-1: 36px;
  --fs-2: 30px;
  --fs-3: 25px;
  --fs-4: 24px;
  --fs-5: 20px;
  --fs-6: 18px;
  --fs-7: 17px;
  --fs-8: 16px;
  --fs-9: 15px;
  --fs-10: 14px;
  --fs-11: 12px;
  --fs-12: 10px;

  --fw-1: 400;
  --fw-2: 500;
  --fw-3: 600;
  --fw-4: 700;
}

/* -------- END -------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

body {
  color: var(--color-dark-1);
  font-family: var(--body-font);
  font-size: var(--fs-8);
  font-style: normal;
  font-weight: var(--fw-1);
  line-height: normal;
  background-color: var(--color-gray-4);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* ALL STYLES */

.text-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}

.btn-show {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: none;
  border: none;
  font-size: var(--fs-9);
  font-weight: var(--fw-4);
  color: var(--color-blue);
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-show:hover {
  color: var(--color-blue-2);
}

.btn-size {
  position: absolute;
  z-index: 3;
  bottom: 57px;
  right: 21px;
  width: 25px;
  height: 25px;
  display: block;
  background: url('../images/icons/icon-resize.svg');
  background-color: var(--color-blue);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-tab {
  display: none;
  position: absolute;
  right: 8px;
  width: 33px;
  height: 24px;
  background: url('../images/icons/icon-slider-arrow-right-white-2.svg');
  background-color: var(--color-blue);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0px 25px 25px 0px;
}

/* -------- END -------- */

/* WRAPPER */

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 1365px) {
  .container {
    max-width: 100%;
    margin: 0px 20px;
  }
}

@media (max-width: 320px) {
  .container {
    margin: 0px 10px;
  }
}

@media (max-width: 1180px) {
  html {
    overflow-x: initial;
  }
}

/* -------- END -------- */

/* ACCORDEON */

.accordeon {
  width: 312px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordeon__list li {
  color: var(--color-dark-1);
  font-size: var(--font-text-1);
  font-weight: var(--font-weight-2);
  list-style: inside;
  padding: 12px 20px;
}

.accordeon__li {
  position: relative;
  background: var(--color-white);
  border-radius: 3px;
}

.accordeon__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon__btn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 14px;
  color: #a0a0a0;
  font-size: var(--fs-8);
  font-weight: var(--fw-2);
  cursor: pointer;
}

.accordeon__btn::after {
  content: '';
  display: block;
  width: 18px;
  height: 8px;
  position: absolute;
  right: 11px;
  background-image: url('../images/icons/icon-arrow-sort-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn::after {
  transform: rotate(180deg);
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn {
  color: var(--color-blue);
}

.accordeon__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

.accordeon-2__li {
  position: relative;
  border-bottom: 1px solid rgba(4, 43, 70, 0.2);
}

.accordeon-2__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon-2__btn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 14px;
  color: #222628;
  font-size: var(--fs-8);
  font-weight: var(--fw-2);
  cursor: pointer;
}

.accordeon-2__btn::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 15px;
  background-image: url('../images/icons/icon-sort-arrow-right-gray.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__btn::after {
  transform: rotate(-360deg);
  background-image: url('../images/icons/icon-sort-arrow-left-blue.svg');
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__btn {
  color: var(--color-blue);
  border-left: 2px solid var(--color-blue);
}

.accordeon-2__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

.accorderon__sort-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../images/icons/icon-sort.svg');
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 44px;
}

.accordeon__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 14px;
  margin-bottom: 16px;
}

.accordeon__input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.accordeon__input input,
.accordeon__input label {
  cursor: pointer;
}

.accordeon__btn-clear {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px 14px;
  color: #a0a0a0;
  font-size: var(--fs-8);
  font-weight: var(--fw-2);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.accordeon__btn-clear span {
  background-image: url('../images/icons/icon-close.svg');
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 36px;
}

@media (max-width: 1180px) {
  .accordeon {
    width: 290px;
  }

  .accordeon__btn {
    font-size: var(--fs-6);
  }

  .accordeon-2__btn {
    font-size: var(--fs-9);
  }
}

@media (max-width: 590px) {
  .accordeon {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
}

/* SLIDER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  gap: 20px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none !important;
}

.slider__wrapper {
  position: relative;
}

.slider__btn-prev--1,
.slider__btn-prev--3 {
  width: 33px;
  height: 24px;
  display: block;
  background: url('../images/icons/icon-slider-arrow-left-blue.svg');
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 25px 0px 0px 25px;
  cursor: pointer;
}

.slider__btn-next--1,
.slider__btn-next--3 {
  width: 33px;
  height: 24px;
  display: block;
  background: url('../images/icons/icon-slider-arrow-right-white-2.svg');
  background-color: var(--color-blue);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0px 25px 25px 0px;
  cursor: pointer;
}

.slider__btn-prev--2 {
  width: 11px;
  height: 18px;
  display: block;
  background: url('../images/icons/icon-slider-arrow-right-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  border: none;
  cursor: pointer;
}

.slider__btn-next--2 {
  width: 11px;
  height: 18px;
  display: block;
  background: url('../images/icons/icon-slider-arrow-right-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.slider__btn-prev--4 {
  width: 40px !important;
  height: 40px !important;
  display: block;
  background: url('../images/icons/icon-slider-arrow-right-white-2.svg');
  background-color: var(--color-blue) !important;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.slider__btn-next--4 {
  width: 40px !important;
  height: 40px !important;
  display: block;
  background: url('../images/icons/icon-slider-arrow-right-white-2.svg');
  background-color: var(--color-blue) !important;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.slider__btn-prev--4 .swiper-button-disabled {
  opacity: 0.5;
}

.slider__btn-next--4 .swiper-button-disabled {
  opacity: 0.5;
}

/* slider content styles */

.trust__slider-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.preview__slider-nav {
  position: absolute;
  width: 100%;
  padding: 0px 37px;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* -------- END -------- */

/* HEADER */

.header {
  position: relative;
  width: 100%;
  background-color: var(--color-gray-1);
  z-index: 100;
}

.main-mob__nav {
  display: none;
}

.header__logo {
  max-width: 185px;
  max-height: 50px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location__nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.location__title {
  color: var(--color-gray-2);
  font-size: var(--fs-10);
  font-weight: var(--fw-1);
  background-image: url('../images/icons/icon-marker.svg');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 19px;
}

.phone__link {
  color: var(--color-blue);
  font-size: var(--fs-6);
  font-weight: var(--fw-2);
}

.site__nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user__nav {
  display: flex;
  gap: 40px;
}

.user__nav li a {
  display: flex;
  align-items: center;
}

.search__link img,
.cart__link img {
  width: 34px;
  height: 34px;
}

.cart-badge {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-weight: var(--fw-2);
  background-color: var(--color-blue);
  border: 2px solid var(--color-white);
  border-radius: 50%;
}

.cart__title {
  margin-left: 8px;
  color: var(--color-dark-1);
  font-size: var(--fs-8);
  font-weight: var(--fw-2);
}

.menu__burger {
  display: none;
}

.menu__item {
  display: flex;
  align-items: center;
}

.site__nav > li:hover .sub-menu__list {
  display: flex;
  flex-direction: column;
}

.menu__link {
  color: var(--color-dark-1);
  font-size: var(--fs-8);
  font-weight: var(--fw-2);
  border-top: 3px solid transparent;
  padding: 25px 20px 29px 20px;
  transition: all 0.3s ease;
}

.menu__link:hover {
  border-top: 3px solid var(--color-blue);
  background: var(--color-white);
}

.sub-menu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 54px;
  padding-top: 20px;
}

.sub-menu__list > li {
  background: #f1f2f3;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-menu__list > li:hover .sub-submenu__list,
.sub-menu__list > li:hover .sub-submenu__item {
  display: flex;
  flex-direction: column;
}

.sub-menu__link {
  display: flex;
  padding: 15px 20px;
  color: #222628;
  font-size: var(--fs-8);
  font-weight: var(--fw-1);
  line-height: 21px;
}

.sub-submenu__list {
  display: none;
  position: absolute;
  top: 20px;
  left: 100%;
  min-width: max-content;
  padding-right: 5px;
}

.sub-submenu__item {
  display: none;
  max-width: 800px;
  height: 96%;
  position: absolute;
  top: 20px;
  left: 100%;
  padding: 15px 20px 0px 40px;
  background: #f1f2f3;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-submenu__cards {
  width: 100%;
  height: 270px;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.sub-submenu__card {
  min-width: 274px;
  height: 233px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--color-white);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.sub-submenu__card:hover {
  opacity: 1;
}

.sub-submenu__card-text {
  color: #232323;
  text-align: center;
  font-size: var(--fs-10);
  font-weight: var(--fw-3);
  line-height: 21px;
}

.sub-submenu__list > li {
  background: #f1f2f3;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-submenu__link {
  display: flex;
  padding: 15px 20px;
  color: #222628;
  font-size: var(--fs-8);
  font-weight: var(--fw-1);
  line-height: 21px;
}

.sub-menu__link:hover,
.sub-submenu__link:hover {
  color: var(--color-blue);
}

.menu-active {
  color: var(--color-blue);
}

.menu__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 33px 22px 33px;
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.menu__contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu__contacts-title {
  color: #222628;
  font-size: var(--fs-8);
  font-weight: var(--fw-2);
}

.location-menu__title {
  color: #4b4b4b;
  font-size: var(--fs-10);
  padding-left: 20px;
  font-weight: var(--fw-1);
  background-image: url(../images/icons/icon-marker.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.email-menu {
  color: #4b4b4b;
  font-size: var(--fs-10);
  padding-left: 20px;
  font-weight: var(--fw-1);
  text-decoration: underline;
  background-image: url(../images/icons/icon-mini-mail.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.menu__socials {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu__socials-title {
  font-size: var(--fs-8);
  font-weight: var(--fw-2);
}

.menu__socials-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 12px;
}

.arrow {
  position: absolute;
  display: flex;
  right: 0;
  width: 100px;
  height: 51px;
  background-image: url(../images/icons/icon-sort-arrow-right-gray.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.sub-menu__list.open-submenu {
  position: initial;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  padding-top: 0px;
}

.sub-menu__list.open-submenu > li {
  background: var(--color-white);
}

.sub-menu__list.open-submenu > li:first-child {
  border-top: transparent;
}

.sub-menu__list.open-submenu > li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-menu__list.open-submenu .sub-menu__link {
  padding: 16px 0px 16px 33px;
  font-size: var(--fs-10);
  font-weight: var(--fw-1);
}

.menu__btn-back {
  position: absolute;
  transform: scale(0);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 33px 16px 33px;
  opacity: 0.5;
}

.menu__btn-back::before {
  content: '';
  width: 8px;
  height: 8px;
  background-image: url(../images/icons/icon-sort-arrow-right-gray.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(-180deg);
}

.menu__btn-back.menu-visible {
  position: initial;
  transform: scale(1);
}

.menu__link-active {
  color: var(--color-blue);
  background-color: #f2f2f2;
}

.arrow-active {
  background: none;
}

.menu-mob__icon::before {
  content: '';
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item-search::before {
  background-image: url('../images/icons/icon-search.svg');
}

.item-location::before {
  background-image: url('../images/icons/icon-marker.svg');
}

.item-cart::before {
  background-image: url('../images/icons/icon-cart.svg');
}

.item-phone {
  color: var(--color-blue) !important;
  font-size: var(--fs-6) !important;
}

@media (max-width: 1365px) {
  .menu__link {
    padding: 20px 10px 23px 10px;
  }

  .sub-menu__list {
    top: 44px;
  }
}

@media (max-width: 1180px) {
  .site__nav > li:hover .sub-menu__list {
    display: none;
  }

  .main-mob__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__nav {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 20px;
    margin: 20px 0px;
    z-index: 1;
    cursor: pointer;
  }

  .menu__burger:before {
    content: '';
    background-color: var(--color-blue);
    position: absolute;
    width: 24px;
    height: 2px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    content: '';
    background-color: var(--color-blue);
    position: absolute;
    width: 24px;
    height: 2px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: var(--color-blue);
    position: absolute;
    width: 24px;
    height: 2px;
    top: 9px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger.active {
    position: absolute;
    transform: scale(0);
  }

  /* .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    width: 100%;
    transform: rotate(45deg);
    top: 9px;
  }

  .menu__burger.active:after {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__burger.active > span {
    background-color: var(--color-blue);
  } */

  .main__nav-menu.active {
    transform: translateX(0);
  }

  .main__nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    transform: translateX(-110%);
    transition: transform 0.5s;
    overflow: auto;
    z-index: 2;
    border-radius: 0px 0px 0px 3px;
    background: var(--color-white);
  }

  .main__nav-menu .site__nav .menu__link {
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 16px 0px 16px 33px;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .main__nav-menu .site__nav {
    max-width: 284px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
  }

  .main__nav-menu .site__nav .menu__item {
    width: 100%;
    flex-direction: column;
  }

  .menu-active {
    border-left: 2px solid var(--color-blue);
  }

  @media (max-width: 590px) {
    .user__nav {
      gap: 6px;
    }

    .main-mob__nav .header__logo {
      width: 95px;
      height: 25px;
    }

    .main-mob__nav .location__nav {
      gap: 2px;
    }

    .main-mob__nav .phone__link {
      font-size: var(--fs-11);
    }

    .main-mob__nav .location__title {
      font-size: 8px;
      background-size: contain;
      padding-left: 12px;
    }

    .main-mob__nav .search__link img,
    .main-mob__nav .cart__link img {
      width: 24px;
      height: 24px;
    }

    .main-mob__nav .cart__title {
      position: absolute;
      transform: scale(0);
    }

    .main-mob__nav .cart-badge {
      width: 15px;
      height: 15px;
      font-size: 8px;
      border: 1px solid var(--color-white);
    }

    .main-mob__nav .user__nav li a {
      align-items: flex-start;
    }
  }
}

/* -------- END -------- */

/* FOOTER */

.footer {
  margin-top: 60px;
  background: var(--color-blue-gradient);
  color: var(--color-white);
}

.footer__container {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  padding: 50px 0px;
  gap: 78px;
}

.footer-mob__container {
  display: none;
}

.footer__left {
  max-width: 365px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__logo {
  grid-area: footer__logo;
  max-width: 225px;
  max-height: 60px;
}

.footer__socials {
  grid-area: footer__socials;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__socials span {
  color: var(--color-white);
  font-size: var(--fs-4);
  font-weight: var(--fw-2);
}

.footer__socials-list {
  display: flex;
  gap: 16px;
}

.footer__socials-link img {
  max-width: 50px;
  max-height: 50px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__list {
  display: grid;
  grid-area: footer__list;
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    'footer__phone footer__email footer__delivery footer__info'
    'footer__whatsapp footer__time footer__pay .';
  align-items: center;
  gap: 35px;
}

.footer__list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__list-link {
  height: 26px;
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: var(--fs-7);
  font-weight: var(--fw-2);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 33px;
}

.footer__phone {
  grid-area: footer__phone;
}

.footer__email {
  grid-area: footer__email;
}

.footer__delivery {
  grid-area: footer__delivery;
}

.footer__info {
  grid-area: footer__info;
}

.footer__whatsapp {
  grid-area: footer__whatsapp;
}

.footer__time {
  grid-area: footer__time;
}

.footer__pay {
  grid-area: footer__pay;
}

.icon-phone {
  background-image: url('../images/icons/icon-phone.svg');
}

.icon-whatsapp {
  background-image: url('../images/icons/icon-whatsapp.svg');
}

.icon-email {
  background-image: url('../images/icons/icon-mail.svg');
}

.icon-time {
  background-image: url('../images/icons/icon-time.svg');
}

.icon-delivery {
  background-image: url('../images/icons/icon-delivery.svg');
}

.icon-pay {
  background-image: url('../images/icons/icon-pay.svg');
}

.icon-info {
  background-image: url('../images/icons/icon-info.svg');
}

.footer__right-bottom {
  display: flex;
  justify-content: space-between;
}

.footer__adress {
  grid-area: footer__adress;
  max-width: 480px;
  color: var(--color-white);
  font-size: var(--fs-8);
  font-weight: var(--fw-1);
  line-height: 24px;
  font-style: normal;
}

.footer__company {
  grid-area: footer__company;
}

.footer__company a {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 1285px) {
  .footer__list {
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      'footer__phone footer__email footer__delivery'
      'footer__whatsapp footer__time footer__pay'
      '. . footer__info';
    gap: 20px;
  }
}

@media (max-width: 1180px) {
  .footer {
    margin-top: 48px;
  }

  .footer__container {
    gap: 50px;
  }

  .footer__list {
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      'footer__phone footer__delivery'
      'footer__whatsapp footer__pay'
      'footer__email footer__info'
      'footer__time .';
    gap: 20px;
  }

  .footer__right {
    gap: 20px;
  }

  .footer__right-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'footer__adress'
      'footer__company';
    gap: 10px;
  }
}

@media (max-width: 875px) {
  .footer__container {
    display: none;
  }

  .footer-mob__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px 40px 0px;
    text-align: center;
  }

  .footer__list {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-mob__container .footer__list:nth-child(2) {
    margin-top: 40px;
    gap: 30px;
  }

  .footer-mob__container .footer__list:nth-child(4) {
    margin-top: 40px;
    gap: 12px;
  }

  .footer__adress {
    max-width: 260px;
    margin-top: 24px;
    font-size: var(--fs-9);
  }

  .footer__socials {
    margin: 40px 0px;
  }
}

@media (max-width: 768px) {
  .footer__socials span {
    font-size: var(--fs-6);
  }

  .footer__email span {
    text-decoration: underline;
  }

  .footer__list-link {
    font-size: var(--fs-8);
  }

  .footer__socials {
    gap: 21px;
  }

  .footer__socials-list {
    gap: 12px;
  }

  .footer__socials-list li img {
    width: 48px;
    height: 48px;
  }
}

/* -------- END -------- */

/* DESCRIPTION */

.description {
  margin-top: 60px;
}

.description__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.description__wrapper .catalog__title-2::after {
  width: 100%;
  margin-left: 20px;
}

.description__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description__title {
  color: var(--color-dark-1);
  font-size: var(--fs-5);
  font-weight: var(--fw-2);
  line-height: 30px;
}

.description__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--color-dark-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-1);
  line-height: 22px;
}

.description__list {
  margin-left: 25px;
}

.description__list li {
  list-style: initial;
}

@media (max-width: 1180px) {
  .description {
    margin-top: 48px;
  }
}

/* -------- END -------- */

/* DOCUMENTS */

.documents {
  margin-top: 60px;
}

.documents__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.documents__wrapper .catalog__title-2::after {
  width: 100%;
  margin-left: 20px;
}

.documents__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.documents__list-item {
  color: #424242;
  font-size: var(--fs-8);

  font-weight: var(--fw-1);
  line-height: 24px;
}

.documents__item-link {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  background-image: url(../images/icons/icon-pdf.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 40px;
}

@media (max-width: 1180px) {
  .documents {
    margin-top: 48px;
  }
}

/* -------- END -------- */

/* DELIVERY */

.delivery {
  margin-top: 60px;
}

.delivery__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.delivery__wrapper .catalog__title-2::after {
  width: 100%;
  margin-left: 20px;
}

.delivery__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.delivery__inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.delivery__title {
  color: var(--color-dark-1);
  font-size: var(--fs-5);

  font-weight: var(--fw-2);
  line-height: 30px;
}

.delivery__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.delivery__list-item {
  margin-left: 19px;
  list-style: initial;
  color: var(--color-dark-1);
  text-align: justify;
  font-size: var(--fs-6);

  font-weight: var(--fw-1);
  line-height: normal;
}

.delivery__text {
  margin-top: 5px;
}

@media (max-width: 1180px) {
  .delivery {
    margin-top: 48px;
  }
}

/* -------- END -------- */

/* PREVIEW-CARD */

.preview-card {
  margin-top: 40px;
}

.preview-card__slider .preview-card__slider-nav,
.preview-card__slider .btn-size {
  display: none;
}

.preview-card__slider:hover .preview-card__slider-nav,
.preview-card__slider:hover .btn-size {
  display: block;
}

.preview-card__wrapper .catalog__title-1::after {
  width: 50%;
  margin-left: 20px;
}

.preview-card__inner {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.preview-card__inner .slider__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preview-card__slider {
  max-width: 760px;
  width: 100%;
  max-height: 470px;
  height: auto;
}

.preview-card__slider-2 {
  max-width: 760px;
  width: 100%;
  max-height: 100px;
  height: auto;
}

.preview-card__slider-2 .swiper-slide {
  border-radius: 3px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.preview-card__card-wrapper {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 47px;
  gap: 20px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--color-white);
}

.preview-card__card-wrapper > .catalog__card-buttons,
.preview-card__card-wrapper .catalog__btn-cart {
  width: 100%;
}

.preview-card__card-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.preview-card__title {
  color: var(--color-blue);
  text-align: center;
  font-size: 40px;

  font-weight: var(--fw-2);
  line-height: normal;
}

.preview-card__subtile {
  color: var(--color-dark-1);
  text-align: center;
  font-size: var(--fs-8);

  font-weight: var(--fw-1);
  line-height: 21px;
}

.options__title {
  color: #202020;
  font-size: var(--fs-6);
  font-weight: var(--fw-2);
  line-height: 27px;
}

.preview-card__options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.preview-card__slider-wrapper {
  position: relative;
}

.options__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.fast__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fast__btn {
  max-width: 350px;
  width: 100%;
  display: flex;
  padding: 18px 80px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  text-align: center;
  font-size: var(--fs-10);
  font-weight: var(--fw-1);
  line-height: 21px;
  transition: all 0.3s ease;
}

.fast__btn:hover {
  background: var(--color-blue);
  color: var(--color-white);
}

@media (max-width: 1180px) {
  .preview-card {
    margin-top: 20px;
  }

  .preview-card__inner {
    gap: 10px;
    margin-top: 30px;
  }

  .preview-card__wrapper .catalog__title-1::after {
    width: 38%;
  }

  .preview-card__inner .slider__wrapper {
    max-width: 60%;
  }

  .fast__btn {
    padding: 18px 50px;
  }

  .preview-card__slider .preview-card__slider-nav,
  .preview-card__slider .btn-size {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 980px) {
  .preview-card__card-wrapper {
    padding: 32px 25px;
  }

  .slider__btn-next--4,
  .slider__btn-prev--4 {
    width: 30px !important;
    height: 30px !important;
  }
}

@media (max-width: 875px) {
  .preview-card__inner {
    flex-direction: column;
    gap: 32px;
  }

  .preview-card__inner .slider__wrapper {
    max-width: 100%;
  }

  .preview-card__card-wrapper {
    max-width: 332px;
    align-self: center;
    padding: 32px 15px;
  }

  .preview-card__card-price {
    gap: 4px;
  }

  .preview-card__slider img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 590px) {
  .preview-card {
    margin-top: 10px;
  }

  .preview-card__wrapper .catalog__title-1::after {
    width: 15%;
  }

  .preview-card__card-wrapper .catalog__btn-cart {
    height: 59px;
    font-size: var(--fs-10);
  }

  .slider__btn-next--4,
  .slider__btn-prev--4 {
    width: 20px !important;
    height: 20px !important;
    margin-top: -12px !important;
  }

  .btn-size {
    bottom: 15px;
    right: 10px;
  }
}

/* -------- END -------- */

/* TABS & PROPS*/

.tabs-cards {
  margin-top: 60px;
}

.tabs {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  color: #b5b5b5;
  text-align: center;
  font-size: var(--fs-5);
  font-weight: var(--fw-1);
  line-height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f6f6f6;
  cursor: pointer;
}

.tab.props-active {
  border-top: 3px solid var(--color-blue);
  background-color: var(--color-white);
  color: var(--color-dark-1);
}

.props-content {
  display: block;
  margin-top: 40px;
}

.props-content .catalog__title-2::after {
  width: 100%;
  margin-left: 20px;
}

.props-content__inner {
  display: flex;
  gap: 70px;
  margin-top: 32px;
}

.props-content__list {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
}

.props-content__list-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(139, 139, 139, 0.25);
}

.props-content__list-item:first-child {
  padding-top: 0;
}

.props-content__title {
  width: 100%;
  max-width: 50%;
  color: var(--color-dark-1);
  font-size: var(--fs-6);

  font-weight: var(--fw-3);
  line-height: normal;
}

.props-content__subtitle {
  width: 100%;
  color: #414141;
  font-size: var(--fs-6);

  font-weight: var(--fw-2);
  line-height: normal;
}

@media (max-width: 1180px) {
  .tabs {
    gap: 10px;
    align-items: center;
  }

  .tab {
    font-size: var(--fs-8);
    min-width: 176px;
    padding: 21px 24px;
  }

  .tab:nth-child(5) {
    min-width: 250px;
  }

  .tabs-cards {
    margin-top: 48px;
  }

  .props-content {
    margin-top: 9px;
  }
}

@media (max-width: 875px) {
  .tabs-cards {
    position: relative;
    max-width: 768px;
    padding-bottom: 15px;
    overflow-x: scroll;
  }

  .btn-tab {
    display: block;
  }

  .tabs {
    gap: 8px;
  }

  .props-content__inner {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 590px) {
  .tabs-cards {
    max-width: 375px;
  }

  .props-content__title,
  .props-content__subtitle {
    font-size: var(--fs-10);
  }

  .description__text-wrapper {
    font-size: var(--fs-10);
  }

  .documents__list {
    gap: 12px;
  }

  .delivery__list-item {
    font-size: var(--fs-10);
  }

  .delivery__text {
    margin-top: 10px;
  }
}

/* -------- END -------- */

/* BREADCRUMBS */

.breadcrumbs {
  margin-top: 32px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 1px solid #7f7f7f;
}

.breadcrumb > li {
  position: relative;
  display: flex;
  align-items: center;
}

.breadcrumb > li:hover .bread-menu__list {
  display: flex;
  flex-direction: column;
}

.bread-menu__list {
  width: max-content;
  display: none;
  position: absolute;
  left: 0;
  top: 15px;
  padding-top: 20px;
  z-index: 2;
}

.bread-menu__list > li {
  background: #f1f2f3;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bread-menu__link {
  display: flex;
  padding: 5px 15px;
  color: #222628;
  font-size: var(--fs-11);
  font-weight: var(--fw-1);
}

.bread-menu__list > li:first-child {
  border-top: 1px solid transparent;
}

.bread-menu__link:hover {
  color: var(--color-blue);
}

.breadcrumb > li + li:before {
  padding: 6px;
  color: #7f7f7f;
  content: '\2014';
}

.breadcrumb__link {
  color: #7f7f7f;
  font-size: 12px;

  font-weight: var(--fw-1);
  line-height: 20px;
  text-decoration: none;
}

.breadcrumb__link--active {
  color: var(--color-blue);
}

.breadcrumb-arrow {
  display: block;
  width: 10px;
  height: 20px;
  background-image: url('../images/icons/icon-bread-arrow-bottom-gray.svg');
  background-repeat: no-repeat;
  background-position: center left;
  margin-left: 4px;
}

.breadcrumb-arrow.arrow-blue {
  background-image: url('../images/icons/icon-bread-arrow-bottom-blue.svg');
}

@media (max-width: 1180px) {
  .breadcrumbs {
    margin-top: 24px;
  }

  .breadcrumb {
    padding-bottom: 0px;
    border-bottom: none;
  }
}

@media (max-width: 590px) {
  .breadcrumb {
    max-width: 375px;
    overflow-x: scroll;
    padding-bottom: 10px;
  }

  .breadcrumb > li {
    position: initial;
    min-width: max-content;
  }

  .bread-menu__list {
    position: absolute;
    top: 100px;
    left: 20px;
    transform: scale(0);
  }

  .bread-menu__list.open-submenu {
    transform: scale(1);
  }
}

/* -------- END -------- */

/* CATALOG */

.catalog {
  margin-top: 40px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.catalog__filter-list {
  max-width: 1270px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 22px;
  column-gap: 31px;
}

.catalog__filter-btn {
  display: flex;
  padding: 14px 31px;
  align-items: center;
  color: var(--color-blue);
  font-size: var(--fs-8);
  font-weight: var(--fw-2);
  line-height: normal;
  border-radius: 88px;
  border: 1px solid var(--color-blue);
  cursor: pointer;
  transition: all 0.3s ease;
}

.catalog__filter-btn:hover:not(.filter-btn--active) {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.filter-btn--active {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--color-white);
}

.catalog__inner {
  display: flex;
  gap: 20px;
}

.catalog__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
}

.catalog__cards-wrapper .btn-show {
  margin-top: 23px;
}

.catalog__title-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #232323;
  font-size: 30px;

  font-weight: var(--fw-3);
  line-height: normal;
}

.catalog__title-2::after {
  content: '';
  display: flex;
  width: 70%;
  height: 2px;
  background: var(--color-blue);
}

.catalog__card {
  max-width: 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 14px 23px;
  background: var(--color-white);
}

.catalog__card-desc {
  max-width: 247px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.catalog__card-title {
  color: #232323;
  text-align: center;
  font-size: var(--fs-10);

  font-weight: var(--fw-3);
  line-height: 21px;
}

.catalog__card-code {
  color: #232323;
  text-align: center;
  font-size: 10px;

  font-weight: var(--fw-1);
  line-height: 16px;
}

.catalog__card-price {
  color: var(--color-blue);
  text-align: center;
  font-size: var(--fs-5);

  font-weight: var(--fw-3);
  line-height: normal;
}

.catalog__card-buttons {
  display: flex;
  gap: 24px;
}

.catalog__card-left {
  display: flex;
  align-items: center;
}

.catalog__btn-minus {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #f6f6f6;
  cursor: pointer;
}

.catalog__btn-minus span {
  width: 14px;
  height: 2px;
  display: block;
  margin: 0 auto;
  background: #808080;
}

.catalog__card-value {
  width: 32px;
  color: #232323;
  font-size: var(--fs-8);
  font-weight: var(--fw-1);
  line-height: 24px;
  text-align: center;
}

.catalog__btn-pluse {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: var(--color-blue);
  cursor: pointer;
}

.catalog__btn-pluse span {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.catalog__btn-pluse span::after {
  content: '';
  width: 14px;
  height: 2px;
  display: flex;
  margin: 0 auto;
  background: #ffffff;
}

.catalog__btn-pluse span::after {
  content: '';
  width: 14px;
  height: 2px;
  background: #ffffff;
}

.catalog__btn-pluse span::before {
  content: '';
  width: 14px;
  top: 2px;
  position: relative;
  height: 2px;
  background: #ffffff;
  transform: rotate(90deg);
}

.catalog__btn-cart {
  display: flex;
  padding: 10px 45px;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  background: var(--color-blue);
  text-align: center;
  font-size: 12px;

  font-weight: var(--fw-1);
  line-height: 18px;
  cursor: pointer;
}

@media (max-width: 1180px) {
  .catalog {
    margin-top: 22px;
  }

  .catalog__filter-list {
    gap: 10px;
  }

  .catalog__filter-btn {
    padding: 10px 15px;
  }

  .catalog__wrapper {
    gap: 32px;
  }

  .catalog__title-2 {
    font-size: var(--fs-3);
    gap: 5px;
  }

  .catalog__title-2::after {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .catalog__card {
    padding: 14px 8px 12px 8px;
  }

  .catalog__btn-cart {
    padding: 5px 15px;
  }

  .catalog__inner {
    gap: 10px;
  }
}

@media (max-width: 874px) {
  .catalog__inner {
    flex-direction: column;
  }

  .catalog__cards {
    justify-content: flex-start;
  }
}

@media (max-width: 590px) {
  .catalog__filter {
    position: absolute;
    transform: scale(0);
  }

  .catalog__inner {
    gap: 32px;
  }

  .catalog__filter-btn {
    padding: 10px 25px;
    font-size: var(--fs-11);
  }

  .catalog__title-2::after {
    width: 40%;
  }

  .catalog__card {
    max-width: 49.8%;
    gap: 12px;
  }

  .catalog__card img {
    width: 120px;
    height: 103px;
    display: flex;
    margin: auto;
  }

  .catalog__card-title {
    font-size: var(--fs-11);
    line-height: 18px;
  }

  .catalog__card-desc {
    gap: 4px;
    padding: 12px 8px 0px 8px;
  }

  .catalog__card-left {
    position: absolute;
    transform: scale(0);
  }

  .catalog__btn-cart {
    width: 115px;
    height: 26px;
    font-size: var(--fs-12);
    line-height: 16px;
    border-radius: 3px;
  }
}

@media (max-width: 375px) {
  .catalog__title-2 {
    font-size: 23px;
  }

  .catalog__title-2::after {
    width: 11%;
  }
}

@media (max-width: 374px) {
  .catalog__title-2 {
    font-size: 21px;
  }

  .catalog__title-2::after {
    width: 10%;
  }
}

/* -------- END -------- */

/* LIKES */

.likes {
  margin-top: 60px;
}

.likes__slider {
  margin-top: 30px;
  margin-bottom: 24px;
}

.likes__slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1180px) {
  .likes {
    margin-top: 48px;
  }
}

/* -------- END -------- */

/* PREVIEW */

.preview {
  margin-top: 35px;
}

.preview__slider {
  height: 520px;
}

.preview__slider-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 35px;
  background: url('../images/header/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.preview__slider-desc {
  max-width: 585px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.preview__title {
  color: var(--color-white);
  font-size: var(--fs-1);
  font-weight: var(--fw-4);
}

.preview__text {
  color: var(--color-white);
  text-align: justify;
  font-size: var(--fs-8);

  font-weight: var(--fw-1);
  line-height: normal;
}

.preview__btn {
  display: inline-flex;
  padding: 14px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #0078b0;
  box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.09);
  color: var(--color-white);
  text-align: center;
  font-size: var(--fs-9);
  font-weight: var(--fw-1);
  line-height: 22px;
}

.preview__slider-img {
  max-width: 480px;
  width: 100%;
  max-height: 585px;
  height: 100%;
  padding-top: 97.5px;
  align-self: flex-end;
}

@media (max-width: 1230px) {
  .preview__slider-img {
    max-width: 400px;
  }
}

@media (max-width: 1180px) {
  .preview {
    margin-top: 30px;
  }

  .preview__slider-item {
    padding: 20px 40px 0px 40px;
    gap: 15px;
  }

  .preview__slider-img {
    max-width: 300px;
  }

  .preview__slider-nav {
    padding: 0px 15px;
  }
}

@media (max-width: 768px) {
  .preview__slider-item {
    flex-direction: column;
    justify-content: space-between;
  }

  .preview__slider-img {
    align-self: center;
  }

  .preview__slider {
    height: auto;
  }
}

@media (max-width: 768px) {
  .preview__title {
    font-size: var(--fs-2);
  }

  .preview {
    margin-top: 16px;
  }

  .preview__slider-item {
    padding: 27px 14px 0px 14px;
    gap: 0px;
  }

  .preview__slider-desc {
    gap: 20px;
  }

  .preview__text,
  .preview__slider-nav {
    position: absolute;
    transform: scale(0);
  }

  .preview__slider-img {
    max-width: 319px;
    padding-top: 19px;
  }
}

/* -------- END -------- */

/* CATALOG-PREVIEW */

.catalog-preview {
  margin-top: 60px;
}

.catalog-preview__wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.catalog__title-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #232323;
  font-size: var(--fs-2);
  font-weight: var(--fw-3);
  line-height: normal;
  background-image: url(../images/icons/icon-veer.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 36px;
}

.catalog__title-1::after {
  content: '';
  display: flex;
  width: 75%;
  height: 2px;
  background: var(--color-blue);
}

.catalog-preview__cards {
  display: flex;
  flex-wrap: wrap;
}

.catalog-preview__card {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--color-white);
}

.catalog-preview__card:nth-child(3n) {
  width: 100%;
}

.catalog-preview__card-desc {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.catalog-preview__title {
  color: #232323;
  font-size: 25px;

  font-weight: var(--fw-3);
  line-height: normal;
}

.catalog-preview__text {
  color: #232323;
  text-align: justify;
  font-size: var(--fs-8);

  font-weight: var(--fw-1);
  line-height: normal;
}

.catalog-preview__link {
  color: var(--color-blue);
  font-size: var(--fs-9);
  font-weight: var(--fw-4);
  line-height: normal;
  background-image: url('../images/icons/icon-arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 26px;
}

.catalog-preview__wrapper > .btn-show {
  display: none;
}

@media (max-width: 1180px) {
  .catalog-preview {
    margin-top: 48px;
  }

  .catalog-preview__wrapper {
    gap: 28px;
  }

  .catalog-preview__title {
    font-size: var(--fs-6);
  }

  .catalog-preview__text {
    font-size: var(--fs-10);
  }

  .catalog-preview__card:nth-child(3n) {
    width: 50%;
  }

  .catalog-preview__img {
    max-width: 50%;
    height: fit-content;
    align-self: center;
  }

  .catalog-preview__card {
    gap: 20px;
    padding: 20px;
  }

  .catalog-preview__wrapper > .btn-show {
    display: block;
  }

  .catalog-preview__link::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }

  .catalog__title-1::after {
    width: 70%;
  }
}

@media (max-width: 980px) {
  .catalog__title-1 {
    font-size: var(--fs-3);
  }

  .catalog-preview__text {
    position: absolute;
    transform: scale(0);
  }

  .catalog-preview__link {
    font-size: 0px;
  }

  .catalog-preview__link::after {
    transform: scale(1);
  }

  .catalog-preview__img {
    max-width: 100%;
  }

  .catalog-preview__card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .catalog__title-1::after {
    width: 60%;
  }

  .catalog-preview__title {
    font-size: var(--fs-10);
  }

  .catalog-preview__img {
    height: 100%;
    object-fit: cover;
  }

  .catalog-preview__card-desc {
    gap: 0px;
  }

  .catalog-preview__cards {
    justify-content: flex-start;
  }

  .btn-show {
    font-size: var(--fs-10);
  }
}

@media (max-width: 590px) {
  .catalog__title-1::after {
    width: 50%;
  }

  .catalog-preview__title {
    font-size: var(--fs-11);
  }

  .catalog-preview__card {
    padding: 16px 6px 16px 6px;
    gap: 12px;
  }
}

@media (max-width: 490px) {
  .catalog__title-1::after {
    width: 30%;
  }
}

@media (max-width: 375px) {
  .catalog__title-1::after {
    width: 20%;
  }
}

@media (max-width: 320px) {
  .catalog__title-1 {
    font-size: var(--fs-5);
  }
}

/* -------- END -------- */

/* ABOUT */

.about {
  margin-top: 60px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about__inner {
  display: flex;
  align-items: flex-start;
  gap: 44px;
}

.about__title-wrapper {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  gap: 40px;
}

.about__title {
  color: #232323;
  font-size: var(--fs-2);
  font-weight: var(--fw-3);
}

.about__text {
  color: #232323;
  text-align: justify;
  font-size: var(--fs-8);
  font-weight: var(--fw-1);
  line-height: 24px;
}

.about__img-wrapper {
  display: flex;
  flex: 1 1 50%;
  height: 100%;
  background-color: #d9d9d9;
}

.about__img-wrapper img {
  max-width: 650px;
  height: 340px;
}

.about__cards {
  display: flex;
  justify-content: space-between;
}

.about__card {
  max-width: 310px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.about__card-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  gap: 24px;
}

.about__card:not(:last-child)::after {
  content: '';
  align-self: center;
  margin: 0px 12px;
  width: 1px;
  height: 120px;
  background: rgba(0, 0, 0, 0.1);
}

.about__card img {
  align-self: center;
  width: 40px;
  height: 48px;
}

.about__card-desc {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}

.about__card-title {
  color: var(--color-dark-1);
  text-align: center;
  font-size: var(--fs-5);

  font-weight: var(--fw-3);
  line-height: normal;
}

.about__card-subtitle {
  color: var(--color-dark-1);
  text-align: center;
  font-size: var(--fs-8);

  font-weight: var(--fw-1);
  line-height: 24px;
}

@media (max-width: 1180px) {
  .about {
    margin-top: 30px;
  }

  .about__title-wrapper {
    gap: 20px;
  }

  .about__title {
    font-size: var(--fs-5);
  }

  .about__text {
    font-size: var(--fs-10);
  }

  .about__inner {
    align-items: center;
    gap: 40px;
  }

  .about__wrapper {
    gap: 48px;
  }

  .about__card-inner {
    gap: 15px;
  }

  .about__card-title {
    font-size: var(--fs-9);
  }

  .about__card-subtitle {
    font-size: var(--fs-10);
  }

  .about__card:not(:last-child)::after {
    margin: 0 6px;
  }
}

@media (max-width: 875px) {
  .about__cards {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
  }

  .about__card:not(:last-child)::after {
    content: none;
  }
}

@media (max-width: 768px) {
  .about__inner {
    flex-direction: column;
    gap: 20px;
  }

  .about__img-wrapper {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .about__cards {
    position: absolute;
    transform: scale(0);
  }
}

/* -------- END -------- */

/* TRUST */

.trust {
  margin-top: 60px;
}

.trust__slider {
  max-width: 1120px;
}

.trust__slider-item {
  max-width: 260px;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--color-white);
}

.trust__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.trust__title {
  color: var(--color-dark-1);
  text-align: center;
  font-size: var(--fs-2);
  font-weight: var(--fw-3);
}

@media (max-width: 1180px) {
  .trust {
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .trust__title {
    font-size: var(--fs-5);
  }

  .trust__wrapper {
    gap: 20px;
  }
}

@media (max-width: 590px) {
  .trust__slider-item {
    max-width: 220px;
  }
}

@media (max-width: 375px) {
  .trust__slider-item {
    max-width: 200px;
  }
}

/* -------- END -------- */

/* FEEDBACK */

.feedback {
  margin-top: 60px;
}

.feedback__wrapper {
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--color-white) url('../images/feedback/01.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.feedback__form {
  margin: 32px 22px 32px 0px;
  min-width: 582px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feedback__inputs input[type='email']::placeholder {
  content: '';
  width: 165px;
  background-image: url('../images/icons/icon-red-star.svg');
  background-repeat: no-repeat;
  background-position: top;
}

.feedback__desc {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.feedback__title {
  color: var(--color-dark-2);
  font-size: var(--fs-5);
  font-weight: var(--fw-3);
  line-height: 30px;
}

.feedback__text {
  color: var(--color-dark-2);
  font-size: var(--fs-10);
  font-weight: var(--fw-1);
  line-height: 21px;
}

.feedback__inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.feedback__inputs input {
  display: flex;
  height: 52px;
  padding: 18px 5px 18px 10px;
  align-items: center;
  color: var(--color-dark-1);
  font-size: var(--fs-10);
  font-weight: var(--fw-2);
  line-height: 21px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: #f5f5f5;
}

.feedback__inputs textarea {
  display: flex;
  height: 97px;
  padding: 18px 5px 18px 10px;
  align-items: center;
  color: var(--color-dark-1);
  font-size: var(--fs-10);
  font-weight: var(--fw-2);
  line-height: 21px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: #f5f5f5;
  resize: none;
}

.feedback__inputs input::placeholder,
.feedback__inputs textarea::placeholder {
  color: var(--color-dark-1);
  font-family: var(--body-font);
}

.feedback__btn {
  margin-top: 20px;
  margin-bottom: 12px;
  padding: 14px 0px;
  color: var(--color-white);
  font-size: var(--fs-8);
  font-weight: var(--fw-1);
  text-align: center;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  background: var(--color-blue);
  box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  transition: all 0.3s ease;
}

.feedback__btn:hover {
  background: var(--color-blue-2);
}

.feedback__inner {
  display: flex;
  justify-content: space-between;
}

.feedback__inner span {
  color: var(--color-gray-3);
  font-size: var(--fs-12);
  font-weight: var(--fw-1);
}

.feedback__link {
  color: var(--color-gray-3);
  font-size: var(--fs-11);
  font-weight: var(--fw-1);
  text-decoration-line: underline;
}

@media (max-width: 1230px) {
  .feedback__form {
    margin: 22px;
    gap: 15px;
  }
}

@media (max-width: 1180px) {
  .feedback {
    margin-top: 48px;
  }

  .feedback__wrapper {
    background-size: cover;
  }
}

@media (max-width: 875px) {
  .feedback__wrapper {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .feedback .container {
    margin: 0px;
  }

  .feedback__wrapper {
    justify-content: center;
    background-image: none;
    border: none;
    overflow: visible;
  }

  .feedback__form {
    min-width: 320px;
    margin: 0px;
    padding: 40px 20px 48px 20px;
    gap: 0px;
    background-color: var(--color-white);
  }

  .feedback__btn {
    margin-top: 12px;
  }

  .feedback__inner {
    flex-direction: column-reverse;
    gap: 12px;
  }
}

/* -------- END -------- */

/* SEO */

.seo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 60px;
}

.seo__inner-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.seo__title {
  color: var(--color-dark-2);
  font-size: var(--fs-2);
  font-weight: var(--fw-3);
}

.seo__text-wrapper {
  display: flex;
  gap: 40px;
}

.seo__text {
  color: var(--color-dark-2);
  text-align: justify;
  font-size: var(--fs-8);
  font-weight: var(--fw-1);
  line-height: 24px;
}

.seo__inner-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0.3;
}

.seo__subtitle-1 {
  color: var(--color-dark-2);
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
}

.seo__subtitle-2 {
  color: var(--color-dark-2);
  font-size: var(--fs-5);
  font-weight: var(--fw-3);
}

.seo__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.seo__list li {
  list-style: inherit;
  list-style-position: inside;
}

.seo__wrapper .btn-show {
  margin-top: -30px;
}

@media (max-width: 1180px) {
  .seo__wrapper {
    margin-top: 48px;
    gap: 28px;
  }
}

@media (max-width: 768px) {
  .seo__wrapper {
    gap: 28px;
  }

  .seo__inner-1 {
    gap: 20px;
  }

  .seo__title {
    font-size: var(--fs-5);
  }

  .seo__subtitle-1 {
    font-size: var(--fs-8);
  }

  .seo__subtitle-2 {
    font-size: var(--fs-10);
  }

  .seo__text-wrapper {
    flex-direction: column;
    gap: 20px;
    font-size: var(--fs-11);
  }

  .seo__text {
    font-size: var(--fs-11);
  }

  .block-hidden-mob {
    position: absolute;
    transform: scale(0);
  }

  .block-opacity {
    opacity: 0.1;
  }
}

/* -------- END -------- */

/* HIDDEN BLOCKS */

.block-hidden {
  position: absolute;
  transform: scale(0);
}
